@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: round;
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
    overflow: hidden;
}

html,
body {
    height: 100vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

body {
    background-image: url("img2.jpg");
    background-size: 100% 100%;
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    display: flex;
    justify-content: space-around;
}

#le{
    margin-left: 20%;
    margin-right: 20%;
}


#vidas {
    color: rgb(234, 171, 171);
    font-size: 200%;
    float: right;
    margin-right: 140px;
    margin-top: 140px;
    padding: 0;
}

span {
    font-size: 2em;
}

#mensaje {
    color: #ffffff;
    font-size: 180%;
    align-items: center;
    text-align: center;
    margin-top: 1%;
display: block;
}

#imagen {
    float: right;
    margin-right: 140px;
    margin-top: 140px;
}

.music {
    float: left;
    padding: 10px;
    color: #FFF;
    background-color: #173c21;
    border-radius: 20px;
    margin-top: 1%;
    margin-left: 1%;
    font-size: large;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 150px;
    -webkit-animation: glow 1.2s ease-in-out infinite alternate;
    animation: glow 1.2s ease-in-out infinite alternate;
    align-items: center;
    text-align: center;
}

#start {
    font-family: 'Vollkorn', serif;
    position: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    background: none;
    border-radius: 2rem;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #173c21, 0 0 10px #173c21, 0 0 20px #173c21, 0 0 30px #173c21;
}

#video {
    height: 100vh;
    width: 100vw;
}

#reiniciar {
    font-family: 'Vollkorn', serif;
    margin-bottom: 25px;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    background: none;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #173c21, 0 0 10px #173c21, 0 0 20px #173c21, 0 0 30px #173c21;
}

#letras {
    color: #ffffff;
    font-size: 150%;
    background: none;
    font-family: 'Vollkorn', serif;
    font-weight: bolder;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

#palabra {
    color: #ffffff;
    font-size: 150%;
    margin-left: 100px;
    align-items: center;
    text-align: center;
}

#categoria {
    font-family: 'Vollkorn', serif;
    position: center;
    margin-bottom: 25px;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: #173c21;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 4%;
}

#letras :hover {
    color: rgb(24, 109, 7);
}

#letras :disabled {
    color: rgb(59, 55, 55);
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #173c21, 0 0 20px #173c21, 0 0 30px #173c21, 0 0 40px #173c21, 0 0 50px #173c21;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #173c21, 0 0 35px #173c21, 0 0 45px #173c21, 0 0 55px #173c21, 0 0 65px #173c21;
    }
}